################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/test/v15/ipch/AutoPCH/f4eb4fcd9530b0bd/MAIN.ipch
/.vs/test/v15/Browse.VC.db
/.vs/test/v15/.suo
